// @import 'breakpoints';

.about-page {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
	flex: 0 1 auto;
	flex-direction: column;
  justify-content: center;
  
  // @include breakpoint-small-down {
  //   padding-top: 3rem;
  // }

  h1 {
    padding: 1rem 0;
    font-size: 3rem;
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
  }

  .content-grid {
    flex: auto;
  }

  .about-wrapper {
    display: flex;
    flex-wrap: wrap;
    .about-content {
      font-size: 0.875rem;
      line-height: 1.5rem;
      
      display: flex;
      flex-direction: column;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      margin-left: -70px;
      margin-right: -70px;
      @media (min-width: 890px) {
        margin: 0;
      }
      // @include breakpoint-small-down {
      //   font-size: 1rem;
      // }
      .left {
        flex: 1;
        margin-bottom: 5em;
      }
      .right {
        display: flex;
        justify-content: center;
        flex: 1;
        .image-container {
          height: 20em;
          border-radius: 50%;
          border: 10px solid white;
        }
        margin-bottom: 5em;
      }
      p {
        font-weight: 300;
        padding: 0.5rem 0;
      }

      .text-emoji {
        padding: 2rem 0;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
      }
    }
  }

}